{% extends "core/base.html" %}
{% block content %}

<div class="d-flex justify-content-center align-items-center" style="height: 75vh;">
    <div class="card shadow-sm p-4" style="width: 350px;">
        <h4 class="fw-semibold text-center mb-3">Login</h4>

        <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" name="username" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>

        <p class="text-center mt-3 mb-0">
            Don't have an account?
            <a href="{% url 'register' %}" class="text-decoration-none">Register</a>
        </p>
    </div>
</div>

{% endblock %}
